*{
 margin: 0%;
 padding: 0%; 

 font-family: "polymath-display", sans-serif;
 font-weight: 400;
 font-style: normal;
 
 font-family: "polymath-display", sans-serif;
 font-weight: 500;
 font-style: normal;
 
 font-family: "polymath-display", sans-serif;
 font-weight: 600;
 font-style: normal;
 
 font-family: "polymath-display", sans-serif;
 font-weight: 700;
 font-style: normal;
 
}

a{
    text-decoration: none;
    
}